.bx-wrapper {
    width: 775px;
}

.slider-nav > div {
    float: left;
    border: 3px solid #fff;
}

.slider-nav > div a {
    display: block;
    cursor: pointer;
}

.slider-nav > div a.active {
    border-bottom: 3px solid #000;
}